body{
    margin: 0;
    padding: 0;
    background: #fff;
}
.container{
    max-width: 430px;
    margin: 0 auto;
}
.bi-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 41.17px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
     
}
input, textarea{
    background: #0000001A !important;
}
.form-control {
    padding: 10px 15px !important;
}
.form-label{
    font-weight: 400 !important;
    font-size: 18px !important;
}
.product-card {
    border: 1px solid #007bff;
}
.product-img {
    width: 60px;
    height: auto;
}
.product-title {
    font-size: 18px;
    font-weight: 600;
}
.quantity-btn {
    width: 30px;
    height: 30px;
    font-size: 18px;
    padding: 0;
    text-align: center;
    line-height: 1;
}
.product-features ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.product-features li{
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
}
.form-check-label{
    font-weight: 400;
    font-size: 14px;
}
.form-check-input:checked {
    background-color: #0d6efd !important;
    border-color: #0d6efd;
}
.form-check-input:focus {
    border-color: #0057A4;
    background: #0057A4 !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}
.accordion-header {
    margin-bottom: 0;
    border: 1px solid #E9E9E9;
    box-shadow: 0px 1px 1px 0px #0000001A;
}
.shipping li{
font-weight: 600;
font-size: 18px;
line-height: 30px;
color: #0057A4;
}
.modal-dialog{
    max-width: 410px;
}
.thankyou-title{
    font-weight: 700;
    font-size: 44px;
    line-height: 44px;
    text-align: center;
    color: #0057A4;
}
.thankyou-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #AAAFB4;
}
.thankyou-text a{
    text-decoration: none;
    color: #0057A4;
}
.btn-close {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 40px;
    height: 40px;
    background-color: #E21B1B; /* Red background */
    border-radius: 50%;
    opacity: 1;
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
}
.btn-close:hover {
    opacity: 1;
}